*{
    margin: 0px;
} 

body {
    color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

header {
    background-image: linear-gradient(to right, blue, darkblue);
    margin: 0;
    height: 50px;
    margin-bottom: 5px;
}

h1 {
    color: white;
    text-align: center;
}

label .formlabel {
    color: black;
    font-style: bolder;
}

.search {
    margin-left: -150px;
    padding: 5px;
    margin-bottom: -10px;
}

button {
    background-color: cornflowerblue;
    color: white;
    width: 100%;
    border-bottom: solid 2px black;
    
}
.col {
    margin-bottom: 10px;
}

.col-sm-9 {
    border: solid black;
}

.col-sm-8 {
    margin-left: -22px;
}

.col-form-label {
    font-size: 20px;
    font-weight: bold;
}
.forecast {
    border-bottom: none;
}

.card-group {
    margin: -10px;
    margin-top: 5px;
    margin-left: -18px;
}

#search-history {
    border-top: black solid 2px;
    margin-top: -60px;
    margin-left: 0px;
    width: 90%;
}