*{
    margin: 0px;
} 

body {
    color: black;
    width: 100%;
    height: 100%;
    
}

header {
    background-image: linear-gradient(to right, blue, darkblue);
    margin: 0;
    height: 50px;
    margin-bottom: 5px;
}

h1 {
    color: white;
    text-align: center;
}

.list-group {
    list-style: none;
    padding: 0px;

}
label .formlabel {
    color: black;
    font-style: bolder;
}

.search {
    margin-left: -5px;
    padding: 5px;
}

button {
    background-color: cornflowerblue;
    color: white;
    width: 100%;
    border-bottom: solid 2px black;
    
}
.col {
    margin-bottom: 10px;
}

.col-sm-9 {
    border: solid black;
    margin-top: -160px;
    margin-left: 260px;
}

.col-sm-8 {
    margin-left: -22px;
}

.col-form-label {
    font-size: 20px;
    font-weight: bold;
}
.forecast {
    border-bottom: none;
}

.card-group {
    margin: -10px;
    margin-top: 5px;
    margin-left: -18px;
}

#search-history {
    border-top: black solid 2px;
    margin-top: -60px;
    margin-left: 0px;
    width: 90%;
}

#city-search-weather {
    font-size: 20px;
    color: black;
}

#search-history {
    font-size: 20px;
    color: black;
    margin-left: -65px;
    width: 105%;
    
}


.list-group {
    font-size: 20px;
    color: black;
}

#city-search-weather {
    font-size: 20px;
    color: black;
}

@media screen and (max-width: 980px) {
    .card-group {
        width: 100%;
        height: 25%;
    }
    .search {
        width: 100%;
    }
    .row  {
        width: 50%;

    }
    .col-sm-9 {
        width: 50%;
        margin-left: -15px;
    }
    .col-sm-2 {
        width: 20rem;
        height: 5%;

    }

    .card  {
        width: 50%;
        height: 50%;
    }

    .col-sm-8 {
        width: 50%;
        height: 50%;
    }
    .container {
        width: 50%;
        height: 50%;
    }
    #today {
        width: 50%;
    }
    }
    
    @media screen and (max-width: 768px) {
        .card-group {
            width: 100%;
            height: 25%;

        
        }
        .search {
            width: 100%;
        }
        .row  {
            width: 60%;
    
        }
        .col-sm-9 {
            width: 50%;
        }
        .col-sm-2 {
            width: 50%;
            height: 5%;

        }
        .col-sm-8 {
            width: 50%;
            height: 50%;
        }
        .container {
            width: 50%;
            height: 50%;
        }
      }
       
      
      @media screen and (max-width: 575px) {
        .search {
            width: 100%;
        }
        .row {
            width: 52%;
    
        }
        
         .col-sm-9 {
             width: 100px;
             margin-left: -80px;
             margin-top: -200px;
             width: 20rem;

         }
         .col-sm-2 {
             width: 20%;
         }
         .col-sm-8 {
            width: 50%;
            height: 2%;
            font-size: 10px;
        }
        .container {
            width: 5%;
            height: 10%;

        }
        h4 {
            font-size: 15px;
        }
        #today {
            width: 300px;
            height: 180px;
        }
        #select {
            width: 60%;
        }
        .forecast {
            width: 80%;
            
        }
         .card-group div{
            height: 50%;
        }
        }